In [17]:
import pandas as pd
import json

# Đọc dữ liệu từ tệp CSV
df = pd.read_csv('train.csv')

# Chuyển đổi chuỗi JSON thành đối tượng Python (dictionary)
df['quintuple'] = df['quintuple'].apply(lambda x: json.loads(x) if pd.notna(x) else None)

# Sử dụng pd.json_normalize để tách các keys thành các cột
df_normalized = pd.json_normalize(df['quintuple'])

# Kết hợp DataFrame gốc và DataFrame mới đã tách các keys
df = pd.concat([df.drop(['quintuple'], axis=1), df_normalized], axis=1)

df.head()

,id,text,comparison_sentence,subject,object,aspect,predicate,label
0,1,"Title : Review iPhone 14 : Thiết kế , hiệu năn...",0,NaN,NaN,NaN,NaN,NaN
1,2,"iPhone 14 được ra mắt vào 09 / 2022 , được đán...",1,"[1&&iPhone, 2&&14]","[28&&thế, 29&&hệ, 30&&trước]","[20&&phần, 21&&cứng]","[16&&nâng, 17&&cấp, 18&&nhẹ]",COM+
2,2,"iPhone 14 được ra mắt vào 09 / 2022 , được đán...",1,"[1&&iPhone, 2&&14]","[28&&thế, 29&&hệ, 30&&trước]","[24&&phần, 25&&mềm]","[16&&nâng, 17&&cấp, 18&&nhẹ]",COM+
3,3,Về ngoại hình thì cũng có rất ít sự khác biệt ...,1,[],"[14&&thế, 15&&hệ, 16&&tiền, 17&&nhiệm]","[2&&ngoại, 3&&hình]","[7&&rất, 8&&ít, 9&&sự, 10&&khác, 11&&biệt]",EQL
4,4,"Có một vài ý kiến trái chiều cho rằng , phiên ...",0,NaN,NaN,NaN,NaN,NaN

In [20]:
print(f"so luong cau la {df['id'].nunique()}" )
print(f"so luong cau khong so sanh la {(df['comparison_sentence'] == 0).sum()}" )
df_comparison = df[df['comparison_sentence'] == 1]
print(f"so luong cau so sanh la {df_comparison['id'].nunique()}")

so luong cau la 4171
so luong cau khong so sanh la 3359
so luong cau so sanh la 812